
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @TempData["id"]

        <br /><br />

        <button onclick="location.href='@Url.Action("Thankyou","Home")'">Thank you</button>


    </div>
</body>
</html>
